body{
	margin:0;
	padding:0;
	width:100%;
}

.jumbotron-fluid{
	background-image: url("marquee_header.jpg");
	background-size: cover;
}

.jumbotron{
	padding-bottom: 30px;
}

.about-img {
	postion: relative;
	background: #66594C;
	height: 250px;
	width: auto;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.col-md-6{
	text-align: center;
}

.aboutme{
	background-color: skyblue;
}