body{
	margin:0;
	padding:0;
	width:100%;
}
.navbar-collapse{
	background-color: #66594C;
	padding: 0px;
}

.jumbotron-fluid{
	background-image: url("marquee_header.jpg");
	background-size: cover;
	font-family: "Roboto Thin";
	margin-bottom: 0px;
	margin-top: 0px;
}
.container{
	color: #66594C;
}

.about-img {
	postion: relative;
	background: #66594C;
	height: 250px;
	width: auto;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.col-md-6{
	text-align: center;
	color: #66594C;
}

.aboutme{
	background-color: skyblue;
	padding: 20px;
	font-family: "Roboto Thin";
}

.portfolio{
	background-color: #66594C;
	padding: 20px;
	color: whitesmoke;
}

.contact{
	background-color: skyblue;
	padding: 20px;
	color: #66594C;
}

.foot{
	text-align: center;
	background-color: #66594C;
	color: whitesmoke;
	padding: 10px;
}

.portfolio1{
	position: center;
	background: #66594C;
	height: auto;
	width: 300px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.card-group{
	color: #66594C;
	text-align: center;
}

.card-body{
	text-align: center;
}

.card{
	background-color: skyblue;
}