body{
	margin:0;
	padding:0;
	width:100%;
}

#jumboid{
	width:100% ;
}

.background-image {
	position: relative;
}

.background-image img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

header{
	width:100%;
	height:100%;
	height:calc(100% - 1px);
	background-image:url('IMG_3236.jpg');
	background-size:cover;
}

#jumbotron{
	
}